name: release-please
on:
  push:
    branches:
      - main
permissions:
  contents: write
  pull-requests: write
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          # If we don't use 'release-type' here, the bot will automatically look for the configuration files in the root of the repo.
          token: ${{ secrets.GITHUB_TOKEN }}